body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://raw.githubusercontent.com/alldsaiw/news-example/master/img/preview.jpg);
    background-repeat: repeat;

}
header{
background-color:antiquewhite;
border:burlywood solid 3px;
margin-left: 23%;
max-width: 75%;
}

nav{
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: aliceblue;

}

ul {
    position: absolute;
    padding-top: 10%;
    font-size: 0.8rem;
    list-style-type: none;
    margin-left: 5%; 
    padding-left: 5%;
    line-height: 22px;
   }

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}
.text-center{
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.page-title {
    letter-spacing: 1px;
    margin-bottom: 3px;
    font-size: 1.4rem;   
}

.page-description {
    color: grey;
    font-size: 1rem;
    margin-top: 3px;
}
/* News Section Start */
main {
    margin-left: 23%;
    max-width: 75%;
    }

article {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: antiquewhite;
    border: 2px solid burlywood;
}

.article-author, .article-time{
    font-size: 0.8rem;
    color: lightseagreen;
    font-weight: bolder;
}

.article-time {
    color: gray;
}

.article-title {
    font-size: 1rem;
    border-left: 4px solid darkgray;
    margin-left: 10px;
    padding-left: 5px;
}

.article-text {
    border-left: 4px solid lightgray;
    font-style: italic;
    padding-left: 5px;
    font-size: 0.7rem;
}

.article-link {
    color: cornflowerblue;
    font-weight: bolder;
    font-size: 0.7rem;
}

